<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../img/com/i_logo.png">
    <title>青岛海联软件科技有限公司</title>
    <link rel="stylesheet" href="../asserts/css/bootstrap-3.3.7.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/newsContent.css">
</head>
<body id="newsContent">
<nav class="navbar navbar-inverse"></nav>
<section class="banner">
    <div class="banner-content text-center">
        <h1>公司新闻</h1>
    </div>
</section>
<section id="compNewsDetails">
    <div class="container">
        <div id="main"></div>
    </div>
</section>

<ul class="contentProvide" hidden>
    <!--新建新闻详情页面后，只需填写下面几项信息即可-->
    <li id="articleTitle">公司与北京理工大学的签署战略合作协议</li>
    <li id="publishedTime">2017-06-30</li>
    <li id="publishedPeople">jerry</li>
    <li id="articleContent">
        <p>公司与北京理工大学实现战略合议，共同推进产学研协作，重点在人工智能平台应用实践与示范推广、标准规范研究、人工智能人才培养等方面展开全面的战略合作，共同推进人工智能的全面发展。</p>
    </li>
</ul>

<footer></footer>
<script src="../asserts/js/jquery-2.2.4.js"></script>
<script src="../asserts/js/bootstrap-3.3.7.min.js"></script>
<script src="../js/main.js"></script>
<script>
    $(function () {

    })
</script>
</body>
</html>

